name: Generate stdlib lists

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Don't create any PRs for this run"
        type: boolean
        default: false
  schedule:
    - cron: "0 0 * * 2"

permissions: {}

jobs:
  pre-list-legacy:
    strategy:
      matrix:
        python:
          - "3.9"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          # NOTE: matrix.python is intentionally not used here.
          python-version: "3.x"

      - name: support deps
        run: make dev INSTALL_EXTRA=support

      - name: build pre-list
        env:
          LISTGEN_PYTHON_VERSION: "${{ matrix.python }}"
        run: |
          ./env/bin/python ./support/fetch-sphinx.py "${LISTGEN_PYTHON_VERSION}" > pre-list.txt

      - name: upload pre-list
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pre-list-${{ matrix.python }}
          path: pre-list.txt

  expand-list-legacy:
    needs: pre-list-legacy
    strategy:
      matrix:
        python:
          # - "3.7" # EOL
          # - "3.8" # EOL
          - "3.9"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: pre-list-${{ matrix.python }}

      - name: walk modules
        env:
          LISTGEN_PYTHON_VERSION: ${{ matrix.python }}
          LISTGEN_DRY_RUN: ${{ inputs.dry-run }}
        run: |
          python ./support/walk-modules.py "${LISTGEN_PYTHON_VERSION}.txt" < pre-list.txt
          rm pre-list.txt

          if [[ -f "./stdlib_list/lists/"${LISTGEN_PYTHON_VERSION}.txt"" ]]; then
            sort -u -o ./stdlib_list/lists/"${LISTGEN_PYTHON_VERSION}.txt" \
              ./stdlib_list/lists/"${LISTGEN_PYTHON_VERSION}.txt" \
              "${LISTGEN_PYTHON_VERSION}.txt"
          else
            sort -u -o ./stdlib_list/lists/"${LISTGEN_PYTHON_VERSION}.txt" \
              "${LISTGEN_PYTHON_VERSION}.txt"
          fi

          rm "${LISTGEN_PYTHON_VERSION}.txt"

          if [[ "${LISTGEN_DRY_RUN}" == "true" ]]; then
            git diff
          fi

      - name: create PR
        if: ${{ !inputs.dry-run }}
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "[BOT] update list for ${{ matrix.python }}"
          branch: update-stdlib-list-${{ matrix.python }}
          base: main
          branch-suffix: timestamp
          title: "[BOT] update list for ${{ matrix.python }}"
          body: |
            This is an automated pull request, updating `${{ matrix.python }}.txt` after a detected change.

            Please review manually before merging.
          assignees: "woodruffw"
          reviewers: "woodruffw"

  expand-list:
    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: walk modules
        env:
          LISTGEN_PYTHON_VERSION: ${{ matrix.python }}
        run: python ./support/walk-modules.py ./stdlib_list/lists/"${LISTGEN_PYTHON_VERSION}.txt"

      - name: show diff
        if: ${{ inputs.dry-run }}
        run: git diff

      - name: create PR
        if: ${{ !inputs.dry-run }}
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "[BOT] update list for ${{ matrix.python }}"
          branch: update-stdlib-list-${{ matrix.python }}
          base: main
          branch-suffix: timestamp
          title: "[BOT] update list for ${{ matrix.python }}"
          body: |
            This is an automated pull request, updating `${{ matrix.python }}.txt` after a detected change.

            Please review manually before merging.
          assignees: "woodruffw"
          reviewers: "woodruffw"
